* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f5f5;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f6f5f5;
  z-index: 1000;
}

.nav_container {
  max-width: 1340px;
  margin: auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.navTop {
  display: flex;
  gap: 120px;
}

.nav_button {
  font-size: 18px;
  color: #070606;
  cursor: pointer;
}

/* 브랜드 소개글 */
.title {
  font-size: 22px;
  font-weight: 600;
  max-width: 1140px;
  margin-top: 40px;
  margin-bottom: 14px;
  margin-inline: auto;
  text-align: center;
}
.introduce {
  max-width: 1140px;
  margin-inline: auto;
  margin-bottom: 40px;
  color: #070606;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}

/* 이미지 */

iframe,
img,
picture,
svg,
video {
  display: block;
  width: 100%;
  height: auto; /* 높이는 자동 조정 */
}

.img {
  max-width: 1320px;
  margin-inline: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  background-color: #070606;
  max-width: 1320px; /* 공백 제거 */
}

.button img {
  -webkit-animation: blink 0.5s ease-in-out infinite alternate;
  -moz-animation: blink 0.5s ease-in-out infinite alternate;
  animation: blink 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
